anyio==4.11.0
anywidget==0.11.0
asttokens==3.0.0
black==25.9.0
bqplot==0.13.1
bqscales==0.3.7
branca==0.8.2
build==1.3.0
CacheControl==0.14.3
cachetools==6.2.1
certifi==2025.10.5
charset-normalizer==3.4.3
cleo==2.1.0
click==8.3.0
colorama==0.4.6
comm==0.2.3
contourpy==1.3.3
crashtest==0.4.1
cycler==0.12.1
debugpy==1.8.17
decorator==5.2.1
distlib==0.4.0
dulwich==0.24.2
earthengine-api==1.7.29
eerepr==0.1.2
et_xmlfile==2.0.0
executing==2.2.1
fastjsonschema==2.21.2
filelock==3.20.0
findpython==0.7.0
folium==0.20.0
fonttools==4.62.1
future==1.0.0
geemap==0.37.3
geocoder==1.38.1
geopandas==1.1.3
google-api-core==2.26.0
google-api-python-client==2.184.0
google-auth==2.41.1
google-auth-httplib2==0.2.0
google-cloud-core==2.4.3
google-cloud-storage==3.4.1
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
h11==0.16.0
httpcore==1.0.9
httplib2==0.31.0
httpx==0.28.1
idna==3.11
installer==0.7.0
ipyevents==2.0.4
ipyfilechooser==0.6.0
ipykernel==7.0.0
ipyleaflet==0.20.0
ipython==9.6.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.8
isort==7.0.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.3.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.3
jupyter-leaflet==0.20.0
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyterlab_widgets==3.0.16
keyring==25.6.0
kiwisolver==1.5.0
MarkupSafe==3.0.3
matplotlib==3.10.8
matplotlib-inline==0.1.7
more-itertools==10.8.0
msgpack==1.1.2
mypy_extensions==1.1.0
narwhals==2.22.0
nest-asyncio==1.6.0
numpy==2.3.3
openpyxl==3.1.5
packaging==25.0
pandas==2.3.3
parso==0.8.5
pathspec==0.12.1
pbs-installer==2025.10.10
pillow==12.2.0
pkginfo==1.12.1.2
platformdirs==4.5.0
plotly==6.7.0
poetry==2.2.1
poetry-core==2.2.1
prompt_toolkit==3.0.52
proto-plus==1.26.1
protobuf==6.32.1
psutil==7.1.0
psygnal==0.15.1
pure_eval==0.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.2
Pygments==2.19.2
pyogrio==0.11.1
pyparsing==3.2.5
pyperclip==1.11.0
pyproj==3.7.2
pyproject_hooks==1.2.0
pyshp==3.0.9
python-box==7.4.1
python-dateutil==2.9.0.post0
pytokens==0.1.10
pytz==2025.2
pywin32==311
pywin32-ctypes==0.2.3
pyzmq==27.1.0
RapidFuzz==3.14.1
ratelim==0.1.6
requests==2.32.5
requests-toolbelt==1.0.0
rsa==4.9.1
scikit-learn==1.8.0
scipy==1.17.1
scooby==0.11.2
setuptools==80.9.0
shapely==2.1.2
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
stack-data==0.6.3
threadpoolctl==3.6.0
tomlkit==0.13.3
tornado==6.5.2
tqdm==4.67.3
traitlets==5.14.3
traittypes==0.2.3
trove-classifiers==2025.9.11.17
typing_extensions==4.15.0
tzdata==2025.2
uritemplate==4.2.0
urllib3==2.5.0
virtualenv==20.35.3
wcwidth==0.2.14
wheel==0.45.1
widgetsnbextension==4.0.15
xarray==2026.4.0
xyzservices==2026.3.0
zstandard==0.25.0
